* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  ol,
  ul {
    list-style: none;
  }
  del {
    text-decoration: line-through;
  }
  @font-face {
    font-family: "Gordita";
    src: url("../fonts/Gordita-Medium.woff2") format("woff2"),
      url("../fonts/Gordita-Regular.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Gordita";
    src: url("../fonts/Gordita-Medium.woff2") format("woff2"),
      url("../fonts/Gordita-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  body {
    font-family: "Gordita";
    font-size: 17px;
    color: #333;
    overflow-x: hidden;
    max-width: 1440px;
    margin: 0 auto;
  }
  input,
  textarea,
  select {
    font-family: "Gordita", Arial, Helvetica, sans-serif;
  }
  
  a {
    color: #333;
  }
  a:hover,
  .submit:hover {
    filter: alpha(opacity = 85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
  }
  .thumb {
    display: block;
  }
  .thumb img {
    display: block;
    width: 100%;
  }
  p {
    line-height: 1.6em;
    font-size: 16px;
    color: #888398;
  }
  .hidden {
    display: none;
  }
  br.clear {
    clear: both;
    line-height: 0;
  }
  .wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;
  }
  /* header starts */
  header {
}
header section.wrapper {
}
header section.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
header section.head ul li a {
  color: #888398;
  font-size: 20px;
}
header section.head div.left {
}
header section.head div.left h1 {
}
header section.head div.left h1 a {
}
header section.head div.left h1 a img {
  display: block;
  width: 100%;
}
header section.head div.middle {
}
header section.head div.middle nav {
}
header section.head div.middle nav ul {
  display: flex;
  justify-content: space-between;
}
header section.head div.middle nav ul li {
  margin-right: 40px;
}
header section.head div.middle nav ul li:last-child {
  margin-right: 0px;
}
header section.head div.middle nav ul li a {
}
header section.head div.middle nav ul li a:hover {
  color: #000;
  border-bottom: 3px solid #e45f83;
  font-weight: 500;
}
header section.head div.right {
}
header section.head div.right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header section.head div.right ul li {
  margin-right: 40px;
}
header section.head div.right ul li:last-child {
  margin-right: 0;
}
header section.head div.right ul li a.button {
  display: inline-block;
  background-image: linear-gradient(to right, #e45f83, #f67d71, #d473aa);
  color: #fefefe;
  padding: 12px 25px;
  border-radius: 8px;
}
/* header end */

/* #spotlight */
#spotlight {
}
#spotlight section.wrapper {
}
#spotlight section.container {
  display: flex;
  padding: 10px 0 100px;
}
#spotlight section.container div.left {
  background: #f8f8fa;
  width: 46%;
  padding: 141px 84px;
  border-radius: 8px 0 0 8px;
}
#spotlight section.container div.left small {
  color: #888398;
  font-size: 17px;
  font-weight: 400;
}
#spotlight section.container div.left h3 {
  font-size: 58px;
  font-weight: bolder;
  font-family: "Gordita";
  margin-bottom: 20px;
  margin-top: 30px;
  color: #000;
}
#spotlight section.container div.left p {
  color: #888398;
  font-size: 17px;
  margin-bottom: 30px;
}
#spotlight section.container div.left a.button {
  display: inline-block;
  background-image: linear-gradient(to right, #e45f83, #f67d71, #d473aa);
  color: #fefefe;
  padding: 12px 25px;
  border-radius: 8px;
}
#spotlight section.container div.right {
  width: 55%;
}
#spotlight section.container div.right img {
  display: block;
  width: 100%;
}
/* #spotlight end */

/* workking  */
#working {
}
#working section.wrapper {
}
#working section.wrapper div.top {
  text-align: center;
}
#working section.wrapper div.top h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #000;
}
#working section.wrapper div.top p {
  width: 37%;
  margin: 0 auto;
}
#working section.wrapper div.data {
  padding: 50px;
  background: url("Assets/how\ it\ work\ -\ path.svg") no-repeat;
  background-position-x: 151px;
  background-position-y: 111px;
  background-size: 78%;
  display: flex;
}
#working section.wrapper div.data div.bottom h5 {
  margin-bottom: 30px;
  font-size: 30px;
  color: #000;
}
#working section.wrapper div.data div.left {
  width: 33%;
  padding-top: 25px;
}
#working section.wrapper div.data div.left div.information {
}
#working section.wrapper div.data div.left div.information img {
  display: block;
  width: 100%;
}
#working section.wrapper div.data div.left div.bottom {
  padding-top: 60px;
  width: 57%;
  margin: 0 auto;
}
#working section.wrapper div.data div.left div.bottom h5 {
}
#working section.wrapper div.data div.left div.bottom p {
}
#working div.data div.middle {
  width: 33%;
}
#working div.data div.middle div.Data_Secure {
}
#working div.data div.middle div.Data_Secure img {
  display: block;
  width: 100%;
}
#working div.data div.middle div.bottom {
  width: 61%;
  margin: 0 auto;
}
#working div.data div.middle div.bottom h5 {
}
#working div.data div.middle div.bottom p {
}
#working div.data div.right {
  width: 33%;
  position: relative;
}
#working div.data div.right div.Add_cards {
  padding-top: 22px;
}
#working div.data div.right div.Add_cards img {
  display: block;
  width: 100%;
}
#working div.data div.right div.bottom {
  padding-top: 58px;
  width: 66%;
  margin: 0 auto;
}
#working div.data div.right div.bottom h5 {
}
#working div.data div.right div.bottom p {
}
#working div.data div.right div.card {
  position: absolute;
  top: 159px;
  left: 130px;
  font-size: 18px;
  color: #000;
}
#working div.data div.right div.card h6 {
}
/* #working end */

/* #content starts */
#content {
}
#content section.download {
  display: flex;
  justify-content: center;
  padding: 50px 103px;
}
#content section.download div.left {
  width: 55%;
}
#content section.download div.left div.image {
  width: 70%;
}
#content section.download div.left div.image img {
  display: block;
  width: 100%;
}
#content section.download div.right {
  width: 30%;
  padding-top: 60px;
}
#content section.download div.right h2 {
  margin-bottom: 20px;
  margin-top: 60px;
  font-size: 45px;
  color: #000;
}
#content section.download div.right p {
  margin-bottom: 50px;
  color: #888398;
  font-size: 16px;
}
#content section.download div.right div.store {
  width: 70%;
}
#content section.download div.right div.store a {
  display: flex;
  align-items: center;
  border: 1px solid #888398;
  border-radius: 28px;
  margin-bottom: 20px;
  padding: 25px 20px;
}
#content section.download div.right div.store a:last-child {
  margin-bottom: 0;
}
#content section.download div.right div.store a div {
  width: 25%;
}
#content section.download div.right div.store a div img {
  display: flex;
  width: 100%;
}
#content section.download div.right div.store a small {
  font-size: 20px;
  margin-left: 20px;
}
/* #content end */

/* #banking start */
#banking {
}
#banking section.connecting {
  display: flex;
  justify-content: right;
}
#banking section.connecting div.left {
  padding-top: 60px;
  width: 30%;
  padding-left: 35px;
}
#banking section.connecting div.left h2 {
  margin-bottom: 20px;
  margin-top: 60px;
  font-size: 45px;
}
#banking section.connecting div.left p {
  margin-bottom: 50px;
  color: #888398;
  font-size: 16px;
}
#banking section.connecting div.left a.button {
  display: inline-block;
  border: 3px solid #e45f83;
  border-radius: 12px;
  padding: 15px 20px;
  font-weight: bold;
}
#banking section.connecting div.right {
  width: 55%;
  padding-left: 168px;
}
#banking section.connecting div.right div.connecting {
  width: 70%;
}
#banking section.connecting div.right div.connecting img {
  display: block;
  width: 100%;
}
#banking section.main div.bottom {
  text-align: center;
  padding: 100px;
}
#banking section.main div.bottom h2 {
  font-size: 50px;
  margin-bottom: 30px;
}
#banking section.main div.bottom p {
  margin-bottom: 50px;
  color: #888398;
  font-size: 16px;
}
#banking section.main div.bottom form {
  position: relative;
}
#banking section.main div.bottom form input {
  border: 1px solid #888398;
  padding: 30px 20px;
  border-radius: 12px;
  width: 60%;
  font-size: 17px;
  color: #888398;
}
#banking section.main div.bottom form a.button {
  display: inline-block;
  background-image: linear-gradient(to right, #e45f83, #f67d71, #d473aa);
  color: #fefefe;
  padding: 24px 43px;
  border-radius: 12px;
  position: absolute;
  right: 210px;
  top: 6px;
}
/* #banking end*/

/* footer */
footer {
  padding-bottom: 100px;
}
footer section.wrapper {
}
footer section.platform {
  background: #f8f8fa;
  padding: 100px;
}
footer section.platform div.top {
  display: flex;
  justify-content: space-between;
}
footer section.platform div.top div.one {
  width: 20%;
}
footer section.platform div.top div.one div.fastpay {
  width: 65%;
}
footer section.platform div.top div.one div.fastpay img {
  display: block;
  width: 100%;
}
footer section.platform div.top div.one p {
  color: #888398;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer section.platform div.top div.one ul {
  display: flex;
}
footer section.platform div.top div.one ul li {
  margin-right: 33px;
}
footer section.platform div.top div.one ul li:last-child {
  margin-right: 0;
}
footer section.platform div.top div.one ul li div.facebook {
  background: #ececee;
  padding: 10px 14px;
  border-radius: 10px;
}
footer section.platform div.top div.one ul li div.facebook a {
}
footer section.platform div.top div.one ul li div.facebook a img {
  display: block;
  width: 100%;
}

footer section.platform div.top div.one ul li div.twitter {
  background: #ececee;
  padding: 10px;
  border-radius: 10px;
}
footer section.platform div.top div.one ul li div.twitter a {
}
footer section.platform div.top div.one ul li div.twitter a img {
  display: block;
  width: 100%;
}
footer section.platform div.top div.one ul li div.linkedin {
  background: #ececee;
  padding: 10px 13px;
  border-radius: 10px;
}
footer section.platform div.top div.one ul li div.linkedin a {
}
footer section.platform div.top div.one ul li div.linkedin a img {
  display: block;
  width: 100%;
}
footer section.platform div.two h4 {
  margin-bottom: 42px;
}
footer section.platform div.two h6 {
  margin-bottom: 20px;
}
footer section.platform div.two h6 a {
  color: #888398;
  font-size: 14px;
}
footer section.platform div.two h6 a:hover {
  color: #000;
}
footer section.platform div.two h6:last-child {
  margin-bottom: 0;
}
footer section.platform div.three {
}
footer section.platform div.three h4 {
  margin-bottom: 42px;
}
footer section.platform div.three h6 {
  margin-bottom: 20px;
}
footer section.platform div.three h6 a {
  color: #888398;
  font-size: 14px;
}
footer section.platform div.three h6 a:hover {
  color: #000;
}
footer section.platform div.three h6:last-child {
  margin-bottom: 0;
}
footer section.platform div.four {
}
footer section.platform div.four h4 {
  margin-bottom: 42px;
}
footer section.platform div.four h6 {
  margin-bottom: 20px;
}
footer section.platform div.four h6 a {
  color: #888398;
  font-size: 14px;
}
footer section.platform div.four h6 a:hover {
  color: #000;
}
footer section.platform div.four h6:last-child {
  margin-bottom: 0;
}
footer section.platform div.bottom {
}
footer section.platform div.bottom p {
  text-align: center;
  color: #888398;
  margin-top: 80px;
}
footer section.platform div.bottom p a {
  color: #888398;
}
footer section.platform div.bottom p a:hover {
  color: #000;
}
/* footer end */

/* responsive */
/* @media all and (max-width: 1380px) */
@media all and (max-width: 1380px) {
  #spotlight section.container div.left {
    width: 42%;
  }
  #spotlight section.container div.right {
    width: 58%;
  }
  #working section.wrapper div.data {
    background-position-x: 134px;
    background-position-y: 108px;
  }
  #working div.data div.right div.card {
    top: 150px;
    left: 127px;
    font-size: 19px;
  }
  #working section.wrapper div.data div.left div.bottom {
    padding-top: 49px;
  }
  #working div.data div.right div.bottom {
    padding-top: 48px;
  }
  #content section.download div.right {
    padding-top: 20px;
  }
  #content section.download div.right div.store a {
    padding: 16px 16px;
  }
  #banking section.connecting div.left {
    padding-top: 30px;
  }
  #banking section.connecting div.left h2 {
    font-size: 41px;
  }
  #content section.download div.right h2 {
    font-size: 41px;
  }
  #banking section.main div.bottom form a.button {
    padding: 22px 43px;
    top: 9px;
  }
}
/* @media all and (max-width: 1380px) end */

/* @media all and (max-width: 1280px) */
@media all and (max-width: 1280px) {
  header section.head ul li a {
    font-size: 16px;
  }
  #spotlight section.container div.left {
    width: 45%;
    padding: 75px 60px;
  }
  #spotlight section.container div.right {
    width: 55%;
  }
  #spotlight section.container div.left h3 {
    font-size: 48px;
  }
  #working section.wrapper div.top p {
    width: 45%;
  }
  #working section.wrapper div.data {
    padding: 44px;
  }
  #working section.wrapper div.data {
    background-position-x: 105px;
    background-position-y: 105px;
  }
  #working div.data div.middle {
    width: 35%;
  }
  #working div.data div.right div.card {
    top: 130px;
    left: 104px;
    font-size: 15px;
  }
  #working div.data div.right {
    width: 35%;
  }
  #working section.wrapper div.data div.bottom h5 {
    margin-bottom: 25px;
    font-size: 27px;
  }
  #working section.wrapper div.data div.bottom p {
    font-size: 13px;
  }
  #working div.data div.right div.bottom {
    padding-top: 37px;
  }
  #content section.download div.left {
    width: 60%;
  }
  #content section.download div.right {
    width: 40%;
    padding-top: 40px;
  }
  #content section.download div.right h2 {
    font-size: 32px;
  }
  #content section.download div.left div.image {
    width: 80%;
  }
  #content section.download div.right p {
    margin-bottom: 43px;
    font-size: 14px;
  }
  #content section.download div.right div.store a small {
    font-size: 18px;
  }
  #content section.download div.right div.store a div {
    width: 25%;
  }
  #content section.download div.right div.store a {
    padding: 16px 16px;
  }
  #content section.download div.left {
    width: 60%;
  }
  #content section.download div.right {
    width: 40%;
  }
  #banking section.connecting div.right div.connecting {
    width: 80%;
  }
  #banking section.connecting div.left h2 {
    font-size: 32px;
  }
  #banking section.main div.bottom h2 {
    font-size: 45px;
  }
  #banking section.main div.bottom p {
    margin-bottom: 30px;
  }
  #banking section.main div.bottom form input {
    border: 1px solid #888398;
    padding: 25px 18px;
    width: 88%;
    font-size: 14px;
  }
  #banking section.main div.bottom form a.button {
    padding: 14px 22px;
    right: 88px;
  }
  footer section.platform {
    padding: 50px;
  }
  #banking section.main div.bottom form input {
    width: 80%;
  }
}
/* @media all and (max-width: 1280px) end*/

/* @media all and (max-width: 1080px) */
@media all and (max-width: 1080px) {
  header section.head div.middle nav ul li {
    margin-right: 20px;
  }
  header section.head {
    padding: 30px 0;
  }
  #spotlight section.container div.left h3 {
    font-size: 38px;
  }
  #spotlight section.container div.left a.button {
    padding: 12px 25px;
  }
  #working div.data div.right div.card {
    top: 122px;
    left: 98px;
}
  #working section.wrapper div.data div.bottom h5 {
    font-size: 26px;
  }
  #working section.wrapper div.data div.left div.bottom {
    width: 61%;
  }
  #banking section.connecting div.left {
    width: 34%;
  }
  #banking section.connecting div.right div.connecting {
    width: 92%;
  }
  footer section.platform div.top div.one {
    width: 25%;
  }
}
/* @media all and (max-width: 1080px) end */


/* @media all and (max-width: 980px) */
@media all and (max-width: 980px) {
  header section.head div.middle nav {
    display: none;
  }
  #spotlight section.container div.left {
    padding: 47px 62px;
  }
  #spotlight section.container div.left small {
    font-size: 14px;
  }
  #spotlight section.container div.left h3 {
    font-size: 28px;
  }
  #spotlight section.container div.left p {
    font-size: 14px;
  }
  #spotlight section.container div.left a.button {
    padding: 12px 17px;
    font-size: 14px;
  }
  #working section.wrapper div.top p {
    width: 62%;
  }
  #working section.wrapper div.data {
    background-size: 72%;
  }
  #working div.data div.right div.card {
    top: 97px;
    left: 75px;
    font-size: 12px;
  }
  #working section.wrapper div.data div.bottom h5 {
    font-size: 20px;
  }
  #working section.wrapper div.data div.left div.bottom {
    padding-top: 28px;
  }
  #working div.data div.right div.bottom {
    padding-top: 20px;
  }
  #working section.wrapper div.data div.bottom p {
    font-size: 10px;
  }
  #working section.wrapper div.top p {
    width: 54%;
    font-size: 14px;
  }
  #content section.download div.right {
    padding-top: 40px;
  }
  #content section.download div.right h2 {
    font-size: 20px;
    margin-top: 30px;
  }
  #content section.download div.right p {
    margin-bottom: 30px;
    font-size: 10px;
  }
  #content section.download div.right div.store a small {
    font-size: 8px;
  }
  #content section.download div.right div.store a {
    padding: 8px 13px;
    border-radius: 17px;
  }
  #banking section.connecting div.left {
    width: 27%;
  }
  #banking section.connecting div.left h2 {
    font-size: 20px;
    margin-top: 30px;
  }
  #banking section.connecting div.left p {
    margin-bottom: 23px;
    font-size: 10px;
  }
  #banking section.connecting div.left a.button {
    font-size: 14px;
    border-radius: 12px;
    padding: 10px 14px;
  }
  #banking section.main div.bottom h2 {
    font-size: 35px;
  }
  #banking section.main div.bottom p {
    margin-bottom: 23px;
    font-size: 14px;
  }
  #banking section.main div.bottom form input {
    padding: 19px 18px;
    width: 100%;
  }
  #banking section.main div.bottom form a.button {
    padding: 11px 18px;
    right: 9px;
    top: 7px;
  }
  footer section.platform div.top div.one {
    width: 30%;
  }
  footer section.platform div.top div.one p {
    font-size: 13px;
  }
  footer section.platform div.two h4 {
    margin-bottom: 23px;
  }
  footer section.platform div.three h4 {
    margin-bottom: 28px;
  }
  footer section.platform div.four h4 {
    margin-bottom: 28px;
  }
  footer section.platform div.two h6 {
    margin-bottom: 10px;
  }
  footer section.platform div.two h6 a {
    font-size: 10px;
  }
  footer section.platform div.three h6 {
    margin-bottom: 10px;
    font-size: 4px;
  }
  footer section.platform div.three h6 a {
    font-size: 10px;
  }
  footer section.platform div.four h6 {
    margin-bottom: 10px;
  }
  footer section.platform div.four h6 a {
    font-size: 10px;
  }
  footer section.platform div.bottom p {
    font-size: 14px;
  }
}
/* @media all and (max-width: 980px) end*/


/* @media all and (max-width: 768px) */
@media all and (max-width: 768px) {
  #spotlight section.container {
    flex-wrap: wrap;
    justify-content: center;
  }
  #spotlight section.container div.left {
    width: 75%;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  #spotlight section.container div.right {
    width: 75%;
  }
  #spotlight section.container div.right img {
    border-radius: 8px;
  }
  #working section.wrapper div.top p {
    width: 65%;
  }
  #working section.wrapper div.data {
    background: none;
    flex-wrap: wrap;
    background: #f8f8fa;
    border-radius: 8px;
  }
  #working section.wrapper div.top {
    padding-bottom: 50px;
  }
  #working section.wrapper div.data div.left {
    width: 100%;
    display: flex;
    padding-top: 0px;
  }
  #working section.wrapper div.data div.left div.bottom {
    padding-top: 35px;
  }
  #working section.wrapper div.data div.middle {
    width: 100%;
    display: flex;
  }
  #working section.wrapper div.data div.right {
    width: 100%;
    display: flex;
  }

  #working div.data div.right div.bottom {
    padding-top: 47px;
  }
  #working section.wrapper div.data div.bottom p {
    font-size: 14px;
  }
  #working div.data div.middle div.bottom {
    padding-top: 75px;
    width: 64%;
  }
  #working div.data div.right div.Add_cards {
    padding-top: 0px;
  }
  #working div.data div.right div.card {
    top: 109px;
    left: 109px;
    font-size: 16px;
  }
  #content section.wrapper {
    width: 100%;
  }
  #content section.download {
    padding: 65px 70px;
  }
  #content section.download div.left div.image {
    width: 94%;
  }
  #content section.download div.right {
    padding-top: 60px;
  }
  #content section.download div.right div.store a {
    padding: 3px 7px;
    border-radius: 17px;
  }
  #banking section.wrapper {
    width: 100%;
  }
  #banking section.connecting {
    justify-content: center;
  }
  #banking section.connecting div.left {
    width: 30%;
  }
  #banking section.connecting div.right {
    width: 50%;
    padding-left: 60px;
  }
  #banking section.connecting div.right div.connecting {
    width: 98%;
  }
  #banking section.connecting div.left {
    padding-top: 78px;
  }
  #banking section.main div.bottom h2 {
    font-size: 30px;
  }
  #banking section.main div.bottom p {
    font-size: 12px;
  }
  footer section.platform {
    padding: 25px;
  }
  footer section.platform div.top div.one {
    width: 35%;
  }
}
/* @media all and (max-width: 768px)end */
