* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  ol,
  ul {
    list-style: none;
  }
  del {
    text-decoration: line-through;
  }
  @font-face {
    font-family: "Gordita";
    src: url("../fonts/Gordita-Medium.woff2") format("woff2"),
      url("../fonts/Gordita-Regular.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Gordita";
    src: url("../fonts/Gordita-Medium.woff2") format("woff2"),
      url("../fonts/Gordita-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  body {
    font-family: "Gordita";
    font-size: 17px;
    color: #333;
    overflow-x: hidden;
    max-width: 1440px;
    margin: 0 auto;
  }
  input,
  textarea,
  select {
    font-family: "Gordita", Arial, Helvetica, sans-serif;
  }
  
  a {
    color: #333;
  }
  a:hover,
  .submit:hover {
    filter: alpha(opacity = 85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
  }
  .thumb {
    display: block;
  }
  .thumb img {
    display: block;
    width: 100%;
  }
  p {
    line-height: 1.6em;
    font-size: 16px;
    color: #888398;
  }
  .hidden {
    display: none;
  }
  br.clear {
    clear: both;
    line-height: 0;
  }
  .wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;
  }
  header {
}
header section.wrapper {
}
header section.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
header section.head ul li a {
  color: #888398;
  font-size: 20px;
}
header section.head div.left {
}
header section.head div.left h1 {
}
header section.head div.left h1 a {
}
header section.head div.left h1 a img {
  display: block;
  width: 100%;
}
header section.head div.middle {
}
header section.head div.middle nav {
}
header section.head div.middle nav ul {
  display: flex;
  justify-content: space-between;
}
header section.head div.middle nav ul li {
  margin-right: 40px;
}
header section.head div.middle nav ul li:last-child {
  margin-right: 0px;
}
header section.head div.middle nav ul li a {
}
header section.head div.middle nav ul li a:hover {
  color: #000;
  border-bottom: 3px solid #e45f83;
  font-weight: 500;
}
header section.head div.right {
}
header section.head div.right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header section.head div.right ul li {
  margin-right: 40px;
}
header section.head div.right ul li:last-child {
  margin-right: 0;
}
header section.head div.right ul li a.button {
  display: inline-block;
  background-image: linear-gradient(to right, #e45f83, #f67d71, #d473aa);
  color: #fefefe;
  padding: 12px 25px;
  border-radius: 8px;
}
/* header end */
/* #spotlight */
#spotlight {
}
#spotlight section.wrapper {
}
#spotlight section.container {
  display: flex;
  padding: 10px 0 100px;
}
#spotlight section.container div.left {
  background: #f8f8fa;
  width: 46%;
  padding: 141px 84px;
  border-radius: 8px 0 0 8px;
}
#spotlight section.container div.left small {
  color: #888398;
  font-size: 17px;
  font-weight: 400;
}
#spotlight section.container div.left h3 {
  font-size: 58px;
  font-weight: bolder;
  font-family: "Gordita";
  margin-bottom: 20px;
  margin-top: 30px;
  color: #000;
}
#spotlight section.container div.left p {
  color: #888398;
  font-size: 17px;
  margin-bottom: 30px;
}
#spotlight section.container div.left a.button {
  display: inline-block;
  background-image: linear-gradient(to right, #e45f83, #f67d71, #d473aa);
  color: #fefefe;
  padding: 12px 25px;
  border-radius: 8px;
}
#spotlight section.container div.right {
  width: 55%;
}
#spotlight section.container div.right img {
  display: block;
  width: 100%;
}
/* #spotlight end */
/* workking  */
#working {
}
#working section.wrapper {
}
#working section.wrapper div.top {
  text-align: center;
}
#working section.wrapper div.top h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #000;
}
#working section.wrapper div.top p {
  width: 37%;
  margin: 0 auto;
}
#working section.wrapper div.data {
  padding: 50px;
  background: url("Assets/how\ it\ work\ -\ path.svg") no-repeat;
  background-position-x: 151px;
  background-position-y: 111px;
  background-size: 78%;
  display: flex;
}
#working section.wrapper div.data div.bottom h5 {
  margin-bottom: 30px;
  font-size: 30px;
  color: #000;
}
#working section.wrapper div.data div.left {
  width: 33%;
  padding-top: 25px;
}
#working section.wrapper div.data div.left div.information {
}
#working section.wrapper div.data div.left div.information img {
  display: block;
  width: 100%;
}
#working section.wrapper div.data div.left div.bottom {
  padding-top: 60px;
  width: 57%;
  margin: 0 auto;
}
#working section.wrapper div.data div.left div.bottom h5 {
}
#working section.wrapper div.data div.left div.bottom p {
}
#working div.data div.middle {
  width: 33%;
}
#working div.data div.middle div.Data_Secure {
}
#working div.data div.middle div.Data_Secure img {
  display: block;
  width: 100%;
}
#working div.data div.middle div.bottom {
  width: 61%;
  margin: 0 auto;
}
#working div.data div.middle div.bottom h5 {
}
#working div.data div.middle div.bottom p {
}
#working div.data div.right {
  width: 33%;
  position: relative;
}
#working div.data div.right div.Add_cards {
  padding-top: 22px;
}
#working div.data div.right div.Add_cards img {
  display: block;
  width: 100%;
}
#working div.data div.right div.bottom {
  padding-top: 58px;
  width: 66%;
  margin: 0 auto;
}
#working div.data div.right div.bottom h5 {
}
#working div.data div.right div.bottom p {
}
#working div.data div.right div.card {
  position: absolute;
  top: 159px;
  left: 130px;
  font-size: 18px;
  color: #000;
}
#working div.data div.right div.card h6 {
}
/* #working end */
#content {
}
#content section.download {
  display: flex;
  justify-content: center;
  padding: 50px 103px;
}
#content section.download div.left {
  width: 55%;
}
#content section.download div.left div.image {
  width: 70%;
}
#content section.download div.left div.image img {
  display: block;
  width: 100%;
}
#content section.download div.right {
  width: 30%;
  padding-top: 60px;
}
#content section.download div.right h2 {
  margin-bottom: 20px;
  margin-top: 60px;
  font-size: 45px;
  color: #000;
}
#content section.download div.right p {
  margin-bottom: 50px;
  color: #888398;
  font-size: 16px;
}
#content section.download div.right div.store {
  width: 70%;
}
#content section.download div.right div.store a {
  display: flex;
  align-items: center;
  border: 1px solid #888398;
  border-radius: 28px;
  margin-bottom: 20px;
  padding: 25px 20px;
}
#content section.download div.right div.store a:last-child {
  margin-bottom: 0;
}
#content section.download div.right div.store a div {
  width: 25%;
}
#content section.download div.right div.store a div img {
  display: flex;
  width: 100%;
}
#content section.download div.right div.store a small {
  font-size: 20px;
  margin-left: 20px;
}
/* #content end */